<?php
/**
 * ProductApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * ChannelEngine API V2
 *
 * No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v2
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\Configuration;
use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\ObjectSerializer;

/**
 * ProductApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ProductApi
{

    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://demo.channelengine.net/api');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return ProductApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation productAcknowledgeDataChanges
     *
     * Channel: Acknowledge Product Data Changes
     *
     * @param \Swagger\Client\Model\ChannelProcessedChangesRequest $changes The merchant references of the products which have been                successfully created, updated or deleted (after a call to &#39;GetDataChanges&#39;) (required)
     * @return \Swagger\Client\Model\ApiResponse
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productAcknowledgeDataChanges($changes)
    {
        list($response) = $this->productAcknowledgeDataChangesWithHttpInfo($changes);
        return $response;
    }

    /**
     * Operation productAcknowledgeDataChangesWithHttpInfo
     *
     * Channel: Acknowledge Product Data Changes
     *
     * @param \Swagger\Client\Model\ChannelProcessedChangesRequest $changes The merchant references of the products which have been                successfully created, updated or deleted (after a call to &#39;GetDataChanges&#39;) (required)
     * @return Array of \Swagger\Client\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productAcknowledgeDataChangesWithHttpInfo($changes)
    {
        // verify the required parameter 'changes' is set
        if ($changes === null) {
            throw new \InvalidArgumentException('Missing the required parameter $changes when calling productAcknowledgeDataChanges');
        }
        // parse inputs
        $resourcePath = "/v2/products/data";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json','text/json','text/xml','application/x-www-form-urlencoded'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($changes)) {
            $_tempBody = $changes;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ApiResponse',
                '/v2/products/data'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation productAcknowledgeOfferChanges
     *
     * Channel: Acknowledge Product Offer Changes
     *
     * @param string[] $changes The channel references of the updated products (required)
     * @return \Swagger\Client\Model\ApiResponse
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productAcknowledgeOfferChanges($changes)
    {
        list($response) = $this->productAcknowledgeOfferChangesWithHttpInfo($changes);
        return $response;
    }

    /**
     * Operation productAcknowledgeOfferChangesWithHttpInfo
     *
     * Channel: Acknowledge Product Offer Changes
     *
     * @param string[] $changes The channel references of the updated products (required)
     * @return Array of \Swagger\Client\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productAcknowledgeOfferChangesWithHttpInfo($changes)
    {
        // verify the required parameter 'changes' is set
        if ($changes === null) {
            throw new \InvalidArgumentException('Missing the required parameter $changes when calling productAcknowledgeOfferChanges');
        }
        // parse inputs
        $resourcePath = "/v2/products/offers";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json','text/json','text/xml','application/x-www-form-urlencoded'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($changes)) {
            $_tempBody = $changes;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ApiResponse',
                '/v2/products/offers'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation productCreate
     *
     * Merchant: Create Product
     *
     * @param \Swagger\Client\Model\MerchantProductRequest[] $products  (required)
     * @return \Swagger\Client\Model\SingleOfProductCreationResult
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productCreate($products)
    {
        list($response) = $this->productCreateWithHttpInfo($products);
        return $response;
    }

    /**
     * Operation productCreateWithHttpInfo
     *
     * Merchant: Create Product
     *
     * @param \Swagger\Client\Model\MerchantProductRequest[] $products  (required)
     * @return Array of \Swagger\Client\Model\SingleOfProductCreationResult, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productCreateWithHttpInfo($products)
    {
        // verify the required parameter 'products' is set
        if ($products === null) {
            throw new \InvalidArgumentException('Missing the required parameter $products when calling productCreate');
        }
        // parse inputs
        $resourcePath = "/v2/products";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json','text/json','text/xml','application/x-www-form-urlencoded'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($products)) {
            $_tempBody = $products;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\SingleOfProductCreationResult',
                '/v2/products'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\SingleOfProductCreationResult', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\SingleOfProductCreationResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation productDelete
     *
     * Merchant: Delete Product
     *
     * @param string $merchant_reference  (required)
     * @return \Swagger\Client\Model\ApiResponse
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productDelete($merchant_reference)
    {
        list($response) = $this->productDeleteWithHttpInfo($merchant_reference);
        return $response;
    }

    /**
     * Operation productDeleteWithHttpInfo
     *
     * Merchant: Delete Product
     *
     * @param string $merchant_reference  (required)
     * @return Array of \Swagger\Client\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productDeleteWithHttpInfo($merchant_reference)
    {
        // verify the required parameter 'merchant_reference' is set
        if ($merchant_reference === null) {
            throw new \InvalidArgumentException('Missing the required parameter $merchant_reference when calling productDelete');
        }
        // parse inputs
        $resourcePath = "/v2/products/{merchantReference}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($merchant_reference !== null) {
            $resourcePath = str_replace(
                "{" . "merchantReference" . "}",
                $this->apiClient->getSerializer()->toPathValue($merchant_reference),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ApiResponse',
                '/v2/products/{merchantReference}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation productGetByMerchantReference
     *
     * Merchant: Get Product
     *
     * @param string $merchant_reference  (required)
     * @return \Swagger\Client\Model\SingleOfMerchantProductResponse
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productGetByMerchantReference($merchant_reference)
    {
        list($response) = $this->productGetByMerchantReferenceWithHttpInfo($merchant_reference);
        return $response;
    }

    /**
     * Operation productGetByMerchantReferenceWithHttpInfo
     *
     * Merchant: Get Product
     *
     * @param string $merchant_reference  (required)
     * @return Array of \Swagger\Client\Model\SingleOfMerchantProductResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productGetByMerchantReferenceWithHttpInfo($merchant_reference)
    {
        // verify the required parameter 'merchant_reference' is set
        if ($merchant_reference === null) {
            throw new \InvalidArgumentException('Missing the required parameter $merchant_reference when calling productGetByMerchantReference');
        }
        // parse inputs
        $resourcePath = "/v2/products/merchant/{merchantReference}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($merchant_reference !== null) {
            $resourcePath = str_replace(
                "{" . "merchantReference" . "}",
                $this->apiClient->getSerializer()->toPathValue($merchant_reference),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\SingleOfMerchantProductResponse',
                '/v2/products/merchant/{merchantReference}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\SingleOfMerchantProductResponse', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\SingleOfMerchantProductResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation productGetDataChanges
     *
     * Channel: Get Product Data Changes
     *
     * @param int $max_count Optional - limit the amount of products returned for each field              (ToBeCreated, ToBeUpdated, ToBeRemoved) to this number. (optional)
     * @return \Swagger\Client\Model\SingleOfChannelProductChangesResponse
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productGetDataChanges($max_count = null)
    {
        list($response) = $this->productGetDataChangesWithHttpInfo($max_count);
        return $response;
    }

    /**
     * Operation productGetDataChangesWithHttpInfo
     *
     * Channel: Get Product Data Changes
     *
     * @param int $max_count Optional - limit the amount of products returned for each field              (ToBeCreated, ToBeUpdated, ToBeRemoved) to this number. (optional)
     * @return Array of \Swagger\Client\Model\SingleOfChannelProductChangesResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productGetDataChangesWithHttpInfo($max_count = null)
    {
        // parse inputs
        $resourcePath = "/v2/products/data";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // query params
        if ($max_count !== null) {
            $queryParams['maxCount'] = $this->apiClient->getSerializer()->toQueryValue($max_count);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\SingleOfChannelProductChangesResponse',
                '/v2/products/data'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\SingleOfChannelProductChangesResponse', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\SingleOfChannelProductChangesResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation productGetOfferChanges
     *
     * Channel: Get Product Offer Changes
     *
     * @return \Swagger\Client\Model\CollectionOfChannelOfferResponse
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productGetOfferChanges()
    {
        list($response) = $this->productGetOfferChangesWithHttpInfo();
        return $response;
    }

    /**
     * Operation productGetOfferChangesWithHttpInfo
     *
     * Channel: Get Product Offer Changes
     *
     * @return Array of \Swagger\Client\Model\CollectionOfChannelOfferResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productGetOfferChangesWithHttpInfo()
    {
        // parse inputs
        $resourcePath = "/v2/products/offers";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CollectionOfChannelOfferResponse',
                '/v2/products/offers'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CollectionOfChannelOfferResponse', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CollectionOfChannelOfferResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
